/* General Reset */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #000000;
  color: #000000;
}

* {
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #00050e;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.dashboard-content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.left-panel {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.credit-panel {
  flex: 1;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  color: #d4bdbd;
  font-weight: 500;
}
